@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Plus+Jakarta+Sans:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.leaderboard1{
    background-image: url('./assets/images/leaderboard1.png')
}

.leaderboard2{
    background-image: url('./assets/images/leaderboard2.png')
}

.leaderboard3{
    background-image: url('./assets/images/leaderboard3.png')
}

.background{
    background-image: url('./assets/images/backgroundsolana.png');
    background-size: cover;
    background-repeat:repeat-y; /* Optional: prevents the background image from repeating */
    background-position: center;
    /* background-color: black; */
}

input:focus{
    outline: none;
    background-color: grey;
}
